---
import Layout from "../layouts/Layout.astro";
---

<Layout title="KAZ | Experiências">
  <h2 class="text-3xl font-semibold text-support-800 mb-10">Minhas Experiences!</h2>
  <div class="flex flex-col gap-4">
    <div class="block bg-support-100 py-3 px-5 rounded">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-medium uppercase text-support-800">Desenvolvimento do Instatuto</h2><p
          class="text-sm font-medium text-support-600"
        >
          2024 - PRESENTE
        </p>
      </div>
      <p class="text-support-700">
        Criei um site para você conseguir encontrar mecânicas próximas de você, foi uma experiência
        incrível, onde trabalhei com <span class="text-primary-300">geolocalização</span> para mecânicas,
        <span class="text-primary-300">sistema de pagamentos</span>, <span class="text-primary-300"
          >painel para mecânicas</span
        > e <span class="text-primary-300">painel para clientes</span>. Isso tudo usando <span
          class="text-primary-300">NextJS</span
        > e <span class="text-primary-300">TailwindCSS</span>.
      </p>
    </div>

    <div class="block bg-support-100 py-3 px-5 rounded">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-medium uppercase text-support-800">Desenvolvimento da Halvo</h2><p
          class="text-sm font-medium text-support-600"
        >
          2024
        </p>
      </div>
      <p class="text-support-700">
        Halvo, um site onde você pode publicar seus projetos e encontrar freelancers para ele. Nesse
        projeto, que usei <span class="text-primary-300">NextJS</span>, <span
          class="text-primary-300">TailwindCSS</span
        > e muitas outras bibliotecas para me auxiliar, consegui criar algo robusto e bem desenvolvido,
        com <span class="text-primary-300">sistemas de pagamentos</span>, <span
          class="text-primary-300">painel para freelancers</span
        >, <span class="text-primary-300">painel para clientes</span> e <span
          class="text-primary-300">para os admins do site</span
        >.
      </p>
    </div>

    <div class="block bg-support-100 py-3 px-5 rounded">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-medium uppercase text-support-800">Desenvolvimento da SapiencIA</h2><p
          class="text-sm font-medium text-support-600"
        >
          2024
        </p>
      </div>
      <p class="text-support-700">
        SapiencIA, um projeto realmente incrível que pude participar, onde você pode corrigir suas
        redações de maneira online com IA. Nesse projeto, eu fiz todo o <span
          class="text-primary-300">treinamento da IA</span
        >, <span class="text-primary-300">design</span> e
        <span class="text-primary-300">criação do site</span>, utilizei <span
          class="text-primary-300">NextJS</span
        > e <span class="text-primary-300">TailwindCSS</span> para a criação do site, e usei da <span
          class="text-primary-300">OpenAI</span
        > para treinar a IA. Esse site conta com <span class="text-primary-300"
          >sistema de gráficos</span
        >, <span class="text-primary-300">envio de e-mails</span> e <span class="text-primary-300"
          >sistema de comparações extremamente avançado</span
        >. Sem dúvida, o melhor projeto que já pude realizar.
      </p>
    </div>

    <div class="block bg-support-100 py-3 px-5 rounded">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-medium uppercase text-support-800">Desenvolvimento do PeterIA</h2><p
          class="text-sm font-medium text-support-600"
        >
          2024
        </p>
      </div>
      <p class="text-support-700">
        Esse site foi feito para o bot PeterIA, onde tive várias dificuldades e desafios, como a
        <span class="text-primary-300">integração com a API do Discord</span>, pegando servidores do
        usuário e implementando um <span class="text-primary-300"
          >sistema de login com Discord usando NextAuth</span
        >. Além de usar <span class="text-primary-300">NextJS</span> e <span
          class="text-primary-300">TailwindCSS</span
        > para a construção do site, também fiz um <span class="text-primary-300"
          >método de pagamento utilizando Stripe</span
        >.
      </p>
    </div>

    <div class="block bg-support-100 py-3 px-5 rounded">
      <div class="flex items-center justify-between mb-3">
        <h2 class="font-medium uppercase text-support-800">Desenvolvimento da Metriun</h2><p
          class="text-sm font-medium text-support-600"
        >
          2023
        </p>
      </div>
      <p class="text-support-700">
        Metriun foi o meu primeiro site grande que fiz como algo pessoal, um site onde você pode
        obter insights precisos sobre qualquer serviço. Esse site já foi recriado duas vezes, uma
        usando <span class="text-primary-300">React</span> com <span class="text-primary-300"
          >Vite</span
        > e <span class="text-primary-300">Laravel</span> para o back-end, e a outra usando <span
          class="text-primary-300">NextJS</span
        > e <span class="text-primary-300">TailwindCSS</span>, que é a versão que se mantém. Esse
        site tem uma <span class="text-primary-300">IA própria treinada usando a OpenAI</span>, além
        de ter <span class="text-primary-300">sistema de pagamentos</span>, <span
          class="text-primary-300">gráficos</span
        >, <span class="text-primary-300">envio de e-mails</span>, <span class="text-primary-300"
          >sistema de cupons</span
        > e <span class="text-primary-300">sistemas de subusuários</span>. Também possui vários
        plugins externos para integração com <span class="text-primary-300">Pocketmine (PHP)</span>, <span
          class="text-primary-300">Web (JS)</span
        > e <span class="text-primary-300">NodeJS (JS/TS)</span>.
      </p>
    </div>
  </div>
</Layout>
<style></style>
