---
import Layout from "../layouts/Layout.astro";
---

<Layout title="KAZ | Kauã Braz">
  <main>
    <h2 class="text-3xl font-semibold text-support-800 mb-10">👋 HEY!!</h2>
    <p class="text-support-700">
      Me chamo Kauã, mas você já deve ter lido isso no título da página 😅, Desde 2019, me apaixonei
      pelo desenvolvimento de sites. Comecei como desenvolvedor front-end, criando landing pages e
      sites simples com HTML, CSS e JavaScript. Com o tempo, percebi que precisava integrar mais
      funcionalidades e comecei a criar APIs REST com Laravel (PHP).
      <br />
      <br />
      Depois, descobri o NextJS, um framework JavaScript incrível que uso até hoje para criar sites grandes
      e robustos. Gosto de estar envolvido em todo o processo, desde o design até o código final, oferecendo
      soluções completas de front-end e back-end.
      <br />
      <br />
      Atualmente, trabalho como freelancer na Workana, onde desenvolvo sites completos para diversos
      clientes. Amo o que faço e estou sempre aberto a novas oportunidades, seja como freelancer ou em
      um trabalho fixo.
    </p>
  </main>
</Layout>
