---
import { Content } from "./content.mdx";
import Layout from "../layouts/Layout.astro";
import GithubSvg from "../assets/github.svg";
import GoogleSvg from "../assets/google.svg";
import WhatsappSvg from "../assets/whatsapp.svg";
import WorkanaSvg from "../assets/workana.svg";
---

<Layout>
  <article class="prose prose-h1:font-normal">
    <Content />
  </article>
  <footer class="flex items-center gap-8 mt-28">
    <a href="https://github.com/oKauaDev">
      <GithubSvg />
    </a>
    <a href="https://g.dev/kaua">
      <GoogleSvg />
    </a>
    <a href="https://wa.me/+553298619211">
      <WhatsappSvg />
    </a>
    <a href="https://www.workana.com/freelancer/79d1b68f1489c34196139ff845836410">
      <WorkanaSvg />
    </a>
  </footer>
</Layout>
