---
import Layout from "../layouts/Layout.astro";
import discord_logo from "../../public/svg/discord.svg";
import github_logo from "../../public/svg/github.svg";
import webdev_logo from "../../public/svg/webdev.svg";
import workana_logo from "../../public/svg/workana.svg";
---

<Layout title="KAZ | Kauã Braz">
  <main>
    <h2 class="text-3xl font-semibold text-support-800 mb-2">Meus Links!</h2>
    <p class="text-support-700 mb-10">
      Veja um pouco mais de mim em outros pedacinhos da internet!
    </p>
    <div class="flex flex-col gap-6">
      <a
        href="https://github.com/oKauaDev"
        target="_blank"
        class="flex items-center gap-4 font-medium text-primary-300"
        ><img src={github_logo.src} alt="github profile" /> github.com</a
      >
      <a
        href="https://www.workana.com/freelancer/79d1b68f1489c34196139ff845836410"
        class="flex items-center gap-4 font-medium text-primary-300"
        ><img src={workana_logo.src} alt="workana profile" /> workana.com</a
      >
      <a
        href="https://discordapp.com/users/668849866805477398"
        class="flex items-center gap-4 font-medium text-primary-300"
        ><img src={discord_logo.src} alt="discord profile" /> discord.com</a
      >
      <a href="https://g.dev/kaua" class="flex items-center gap-4 font-medium text-primary-300"
        ><img src={webdev_logo.src} alt="web.dev profile" /> web.dev</a
      >
    </div>
  </main>
</Layout>
