---
import SideView from "../components/SideView.astro";
import kaz_logo from "../../public/svg/kaz.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Olá! Sou um desenvolvedor full-stack com 5 anos de experiência em criação e desenvolvimento de sites. Especializado em design e codificação, eu projeto e desenvolvo sites personalizados que atendem às suas necessidades específicas. Explore meu portfólio para ver exemplos de meus trabalhos e descubra como posso transformar suas ideias em realidade. Trabalho com as tecnologias mais modernas para entregar soluções de alta qualidade. Veja mais sobre meus serviços e projetos no meu site pessoal."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <a href="/" class="block ml-16 mt-9 fixed lg:static"><img src={kaz_logo.src} alt="Kaz" /></a>
    <div class="flex gap-16 mb-20 lg:block lg:mt-16">
      <div class="fixed w-[40%] top-32 lg:static lg:w-auto">
        <SideView />
      </div>
      <div class="mr-grid-horizontal mt-32 ml-[calc(40%+64px)] lg:ml-grid-horizontal">
        <slot />
      </div>
    </div>
    <p class="text-support-400 text-center mb-5">Kauã © 2024</p>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html {
    font-family: "Outfit", system-ui, sans-serif;
    font-optical-sizing: auto;
  }

  initial-posotion {
    position: initial;
  }
</style>
